html, body {
/*    display: flex;*/
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 100vh;         /* Full viewport height */
}

h1 {
    font-family: 'Roboto', sans-serif;
}
h4 {
    font-family: 'Roboto', sans-serif;
    padding-top: 17px;
}

.title {
    width: 972px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;          /* Space inside the box */
    text-align: center;     /* Center the text */
    align-items: center; 
    background-color: #041D56; /* Background color */
    border-radius: 3px;
}

/***************/
.pdf_size {
    width: 85%;
    height: 975px;
}