html, body {
    height: 100%;
    padding: 100;
    overflow: none;
}

h1 {
    font-family: 'Georgia';
}

h3 {
    padding-top: 17px;
}


.title {
    width: 972px;
    margin-left: auto;
    margin-right: auto;
    padding: 72px;          /* Space inside the box */
    text-align: center;     /* Center the text */
    align-items: center; 
    background-color: #041D56; /* Background color */
    border-radius: 3px;
}

/*.outer {
    width: 1000px;
    height: 2000px;
    margin: auto;
    border: 1px;
    padding: 10px;
}
*/
img {
  border-radius: 3px;
}

.lightbox {
    width: 972px;
    margin-left: auto;
    margin-right: auto;
    padding: 72px; 
    padding-top: 17px;
    text-align: left;     /* Center the text */
    align-items: center; 
    background-color: #DAF0FF; /* Background color */
    border-radius: 3px;
    padding-bottom: 17px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 24%;
}

.welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #041D56;
    font-family: Georgia;
    font-size: 21px;
}

.webtext {
    padding-top: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #041D56;
    font-family: Georgia;
    font-size: 17px;
}

.pdf_size {
    width: 85%;
    height: 975px;
}