html, body {
    height: 100%;
    padding: 0;
    overflow: none;
    font: 12pt sans-serif;
}

h3 {
    margin: 0px 0px 5px 0px;
    font: 16pt sans-serif;
}

li {
    margin: 5px;
}

.outer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    padding: 50px;
}

img {
  border-radius: 17%;
}

.bio {
    padding: 20px;
    margin-bottom: 10px;
}